@use '../variables' as var;
@use '../typography' as ty;
@use '../fontSizes' as fs;
@use 'sass:math';

.btn {
	background-color: transparent;
	border: var.$base-border-transparent;
	border-radius: var.$base-border-radius;
	cursor: pointer;
	padding: math.div(var.$base-padding, 2) var.$base-padding;
}

@each $key, $val in var.$colorsTheme {
	.btn-#{$key} {
		background-color: #{$val};
		border-color: #{$val};
		color: var.$white;
	}
	.btn-border-#{$key} {
		border-color: #{$val};
		color: #{$val};
	}
	.btn-underline-#{$key} {
		border-radius: 0;
		border-bottom-color: #{$val};
		color: #{$val};
	}
	.btn-text-#{$key} {
		border-radius: 0;
		border-bottom-color: #{$val};
		color: #{$val};
	}
}
@each $key, $val in var.$colorsDark {
	.btn-#{$key} {
		background-color: #{$val};
		border-color: #{$val};
		color: var.$white;
	}
	.btn-border-#{$key} {
		border-color: #{$val};
		color: #{$val};
	}
	.btn-underline-#{$key} {
		border-radius: 0;
		border-bottom-color: #{$val};
		color: #{$val};
	}
	.btn-text-#{$key} {
		border-radius: 0;
		border-bottom-color: #{$val};
		color: #{$val};
	}
}
@each $key, $val in var.$colorsLight {
	.btn-#{$key} {
		background-color: #{$val};
		border-color: #{$val};
		color: var.$dark;
	}
	.btn-border-#{$key} {
		border-color: #{$val};
		color: #{$val};
	}
	.btn-underline-#{$key} {
		border-radius: 0;
		border-bottom-color: #{$val};
		color: #{$val};
	}
	.btn-text-#{$key} {
		color: #{$val};
	}
}
