@use './styles/variables' as var;
@use './styles/typography';
.App {
	.header {
		text-align: center;
		a {
			color: var.$white;
			text-decoration: none;
		}
	}
	.content {
		display: grid;
		grid-template-areas: 'nav content';
		grid-template-columns: 1fr 5fr;

		gap: var.$base-gap;
		width: min(90vw, 100rem);
		margin: 0 auto;
	}
}
