@use './styles/variables' as var;
@use './styles/typography';
.App {
	display: grid;
	grid-template-areas:
		'header header'
		'nav content';
	grid-template-columns: 1fr 5fr;
	.header {
		grid-area: header;
	}
	gap: var.$base-gap;
}
